<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <title>Visitors Register | Covid19</title>
</head>
<body>
    <h1>Covid19 Visitors Register</h1>
    <a href="/shop"><i class="fa fa-book" aria-hidden="true"></i> Create Register</a><br><br>
    <a href="/shop"><i class="fa fa-address-book-o" aria-hidden="true"></i> Open Register</a>
    
    <div class="codeScanningContainer">
        <img src="/image/codeScanning.jpg" alt="" class="codeScanning">
    </div>

    <div class="about">
        <p>
            Its a contact-less Visitors Register service which help 
            to keep track of your visitors.
            By creating your Register you will be provided with a QR code 
            and scanning this QR code let your customers to give their name, mobile
            and location information. <br><br>
            Thus visitors name, mobile, location and time of visit is 
            recorded. This information will be available on your dash-board.
            You can add visitors by your-self from your dash-board too. This 
            is helpful for customers without a smartphone. <br><br>

            Lets fight together against Covid19 :)
            
        </p>
    </div>
</body>
</html>
