<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" integrity="sha512-VGxuOMLdTe8EmBucQ5vYNoYDTGijqUsStF6eM7P3vA/cM1pqOwSBv/uxw94PhhJJn795NlOeKBkECQZ1gIzp6A==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/form.css">
    <title>Register | Login</title>
</head>
<body>
    <div id="RegisterOrLogin" style="max-width: 480px;color: rgba(0, 0, 0, 0.699);padding: 20px; margin: 0 auto;">
        <div class="wraper" v-if="!shopSaved" style="max-width: 300px;margin: 0 auto;">
            <h1 style="padding: 10px;text-align: center;">
                Create your Register
            </h1>
            <p style="font-size:.9rem;">
                
            </p>
        <div class="registerForn" v-if="!isLogin">
            <div :class="[error?'redText':'whiteText']" style="margin: 20px 0;font-size: .8rem;">
                {{errorMsg}}
            </div>
            
            <form name="register" @submit.prevent>
                <div class="inputContainer">
                    <input type="text" id="shopName" v-model="shopDetails.shopName">
                    <label for="shopName"><i class="fa fa-building" aria-hidden="true"></i> Shop name</label>
                </div>
                <div class="inputContainer">
                    <input type="text" id="shopMobile" v-model="shopDetails.shopMobile">
                    <label for="shopMobile"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile</label>
                </div>
                <div class="inputContainer">
                    <input type="text" id="shopLocation" v-model="shopDetails.shopLocation">
                    <label for="shopLocation"><i class="fa fa-map-marker" aria-hidden="true"></i> Location</label>
                </div>
                <div class="inputContainer">
                    <input type="text" id="shopPassword" v-model="shopDetails.shopPassword">
                    <label for="shopPassword"><i class="fa fa-key" aria-hidden="true"></i> Password</label>
                </div>
                
                
                <button @click="registerShop" class="button">Register</button>
                <a @click="isLogin=true" style="font-size: .8rem;line-height: 50px;display: block;text-align: center;">Already have account</a>
            </form>
        </div>
        <div class="loginForm" v-if="isLogin">
            <form name="login" @submit.prevent>
                <input type="text" id="shopMobile" v-model="shopDetails.shopMobile">
                <label for="shopMobile">Mobile</label>

                <input type="text" id="shopPassword" v-model="shopDetails.shopPassword">
                <label for="shopPassword">Password</label>
                
                <button>Login</button>
                <a @click="isLogin=false">Create new Account</a>
            </form>
        </div>
        </div>
        <div class="success" v-if="shopSaved" style="text-align: center;">
            <i class="fa fa-check-circle fa-5x" aria-hidden="true" style="color: rgb(7, 216, 7);"></i><br>
            We are creating your registry :)
        </div>
    </div>

    <script>
        new Vue({
            el:"#RegisterOrLogin",
            data:{
                shopDetails:{
                    shopName:null,
                    shopMobile:null,
                    shopPassword:null,
                    shopLocation:null
                },
                error:false,
                errorMsg:"Fill all fields",
                isLogin:false,
                shopSaved:false
            },
            methods:{
                registerShop(){
                    //validation
                    let isNullValue;

                    if(this.shopDetails.shopName && this.shopDetails.shopMobile.length===10 && this.shopDetails.shopLocation && this.shopDetails.shopPassword){
                        isNullValue=false
                    }
                    else{
                        isNullValue=true
                    }

                    if(isNullValue){
                        this.error=true;
                        setTimeout(()=>{
                                this.error=false
                            },3000)
                    }else{
                        axios.post('/shop/register',{newShop:this.shopDetails})
                        .catch((err)=>{
                            this.error= true
                            this.errorMsg= err.response.data

                            setTimeout(()=>{
                                this.error=false
                                this.errorMsg= "Fill all details"
                            },3000)
                        })
                        .then((res)=>{
                            if(res.status===200){
                                this.shopSaved=true
                                setTimeout(()=>{
                                    window.location.href= '/shop'
                                },2000)
                            }
                        })
                    }
                    
                },
                signIn(){

                }
            }
        })
    </script>
</body>
</html>