<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" integrity="sha512-VGxuOMLdTe8EmBucQ5vYNoYDTGijqUsStF6eM7P3vA/cM1pqOwSBv/uxw94PhhJJn795NlOeKBkECQZ1gIzp6A==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>Home</title>
</head>
<body>
    <div id="dashBoard">
        <h1 class="shopName">{{shopDetails.name}}</h1>
        <hr>
        
        <div id="qr-code-container">
            <img :src="qr" alt="">
            <p v-if="qr">Scan QR code</p>
        </div>
        <div class="fullWidthBtn">
            <button @click="showAddVisitor=true" class="button">Add visitor</button>
        </div>
        <transition name="open">
            <div class="add-visitor-manually" v-if="showAddVisitor">
                <br><br>
                <div class="inputContainer">
                    <input type="text" id="visitor-name" v-model="visitorName"><br>
                    <label for="visitor-name">Visitor name</label>
                </div>
                <div class="inputContainer" class="visitorName">
                    <input type="text" id="visitor-mobile" v-model="visitorMobile"><br>
                    <label for="visitor-mobile">Visitor Mobile</label>
                </div>
                
                <div class="inputContainer">
                    <input type="text" id="visitor-Location" v-model="visitorLocation"><br>
                    <label for="visitor-Location">Visitor Location</label>
                </div class="visitorName">
                
                <div style="text-align: center;">
                    <button @click="addVisitor" style="margin:5px;background-color: rgba(40, 189, 3, 0.226); color: green;" class="button">Add visitor</button><br>
                    <button @click="showAddVisitor=false" style="color: rgba(255, 0, 0, 0.61); background-color: rgba(255, 0, 43, 0.041);" class="button">Cancel</button>
                </div>
                
            </div>
        </transition v-enter-active-class="openAnimation">
        <div class="fullWidthBtn">
            <button @click="showVisitors=true" class="button">Show Visitors</button>
        </div>
        
        <div class="visitors" v-if='showVisitors'>
            <div style="text-align: center;">
                <button @click="refreshVisitor" class="button" style="background-color: rgba(0, 255, 64, 0.041);">Refresh</button>
            </div>
            <div class="visitorFilter">
                <input type="date" class="datePicker" v-model="filterDate">
                {{filterDate}}
            </div>
            <div class="visitor" v-for="visitor in shopDetails.visitors">
                <p class="visitorName">{{visitor.visitorName}}</p>
                <div class="visitorDetails">
                    <p><a :href="`tel:${visitor.visitorMobile}`">{{visitor.visitorMobile}}</a></p>
                    <p>
                        {{visitor.visitorTime.substring(0,21)}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        new Vue({
            el:"#dashBoard",
            data:{
                shopDetails:null,
                visitorName:null,
                visitorMobile:null,
                visitorLocation:null,
                qr:null,
                showAddVisitor:false,
                showVisitors:false,
                filterDate:null
            },
            async mounted(){
                this.refreshVisitor()
                //qr code
                const data= document.cookie.split("=")[1]
                    
                const server= "http://localhost:8000/visitor/";
                this.qr=`https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${server}${data}`
            },
            methods:{
                
                async refreshVisitor(){
                    let shopDetails= await axios.get('/shop/details')
                    this.shopDetails= shopDetails.data
                },
                addVisitor(){
                    if(this.visitorLocation && this.visitorMobile.length===10 && this.visitorName){
                        let visitor = {
                            name:this.visitorName,
                            mobile:this.visitorMobile,
                            location:this.visitorLocation
                        }
                        axios.post('/visitor/fromShop',visitor)
                        .then((res)=>{
                            console.log('Visitor Added')
                            this.showAddVisitor= false
                        })
                        .catch((err)=>{
                            console.log("errorrrr")
                        })
                    }else{
                        console.log("error")
                    }
                }
            }
        })
        
    </script>
</body>
</html>