<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" integrity="sha512-VGxuOMLdTe8EmBucQ5vYNoYDTGijqUsStF6eM7P3vA/cM1pqOwSBv/uxw94PhhJJn795NlOeKBkECQZ1gIzp6A==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/form.css">
    <title><%= data.shopName %></title>
</head>
<body>
    <div id="visitor" style="max-width: 480px; margin:0 auto;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <h1 style=" text-align: center;margin: 20px auto 50px auto; color:rgba(0, 0, 0, 0.774)"><%= data.shopName %></h1>
        <hr>
        <p v-if="!recorded" style=" text-align: center;color: rgba(0, 0, 0, 0.63); margin: 30px auto;">Please provide your Name,<br>Mobile and Location information.<br><br>
            Lets fight together :)
        </p><br>
        <p v-if="error" style="color:rgba(255, 0, 0, 0.726); font-size: .9rem;text-align: center;">Please provide correct information</p>
        <br>
        <div class="form" style="padding: 10px 40px;" v-if="!recorded">
            <div class="inputContainer">
                <input type="text" name="" id="visitorName" v-model="visitor.name">
                <label for="visitorName">Name</label>
            </div>
             
            <div class="inputContainer">
                <input type="text" name="" id="visitorMobile" v-model="visitor.mobile">
                <label for="visitorName">Mobile</label>
            </div>

            <div class="inputContainer">
                <input type="text" name="" id="visitorlocation" v-model="visitor.location">
                <label for="visitorlocation">Location</label>
            </div>
            <br>
            <div style=" text-align: center;">
                <button @click="registerVisitor" class="button">
                    Confirm your visit
                </button>
            </div>
        </div>
        <div class="success" style="text-align: center;" v-if="recorded">
            <i class="fa fa-check-circle fa-5x" style="color: rgba(44, 177, 3, 0.925);" aria-hidden="true"></i>
            <p>Your visit have been successfully recorded</p>
        </div>
    </div>
    <style>
        input:focus{
            outline: none;
        }
    </style>

    <script>
        new Vue({
            el:"#visitor",
            data:{
                visitor:{
                    name:null,
                    mobile:null,
                    location:null
                },
                recorded:false,
                error:false
            },
            mounted(){
                this.visitor.name= localStorage.getItem('Name')?localStorage.getItem('Name'):null;
                this.visitor.mobile= localStorage.getItem('Mobile')?localStorage.getItem('Mobile'):null;
                this.visitor.location= localStorage.getItem('Location')?localStorage.getItem('Location'):null;
            },
            methods:{
                registerVisitor(){
                    if(!this.visitor.name || !this.visitor.mobile || !this.visitor.mobile || this.visitor.mobile.length!=10){
                        this.error=true
                        setTimeout(()=>{
                            this.error=false
                        },3000)
                        return;
                    }
                    axios.post(window.location.href,this.visitor)
                    .then(res=>{
                        this.recorded = true;
                        localStorage.setItem('Name', this.visitor.name);
                        localStorage.setItem('Mobile',this.visitor.mobile)
                        localStorage.setItem('Location',this.visitor.location)
                    })
                    .catch(err=>{
                        if(err){
                            this.error=true
                            setTimeout(()=>{
                                this.error=false
                            },3000)
                        }
                    })
                }
            }
        })
    </script>
</body>
</html>