#dashBoard{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.603);
    max-width: 480px;
    margin: 0 auto;
}
.shopName{
    text-align: center;
    padding: 20px;
}

#qr-code-container{
    padding: 30px 20px 50px 20px;
    text-align: center;
}
.showQrBtn{
    border: none;
    border-radius: 2px;
    padding: 10px;
}
.fullWidthBtn{
    text-align: center;
    padding: 5px;
}

.visitorFilter{
    text-align: center;
    padding: 5px;
}
.datePicker{
    text-align: center;
    border: none;
    background-color: rgba(26, 163, 8, 0.068);
    width: 100%;
    height: 40px;
    color: rgba(29, 28, 28, 0.836);
}
.visitor{
    padding: 10px;
    font-size: .9rem;
    border-bottom: .5px solid rgba(0, 0, 0, 0.103);
    margin: 5px 0;
    width: 80%;
}
.inputContainer{
    font-weight: bold;
    padding: 1px;
    margin: 1px;
}
.visitorDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visitorDetails p{
    margin: 0;
    padding: 5px;
}
.add-visitor-manually{
    padding: 10px;
}
.add-visitor-manually{
    width: 80%;
    margin: 0 auto;
}
.open-enter-active{
    animation: open;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.open-leave-active{
    animation: close;
    animation-duration: .5s;
}
@keyframes open {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes close{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(0);
    }
}