.inputContainer p {
	position: relative;
}
.inputContainer input,
.inputContainer label {
	-webkit-transition: all .2s;
	transition: all .2s;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.inputContainer input {
	width: 100%;
    padding: .6em;
    
	border: 1px solid rgba(170, 170, 170, 0.534);
	background: white;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    color: #333;
}
input :focus{
	outline: none;
}
.inputContainer label {
    z-index: 1;
    font-size: .8rem;
	position: relative;
	top: -3.8em;
	left: .5em;
	color: rgb(170, 170, 170);
    line-height: 1;
    background-color: white;
}
.inputContainer input:focus {
    border: 1px solid rgba(0, 60, 255, 0.938);
}
.inputContainer input:focus + label {
    top: -4em;
	font-size: .8rem;
	color: rgba(0, 0, 0, 0.726);
}
.button{
    border: none;
	background-color: rgba(8, 145, 163, 0.219);
	border-radius: 5px;
    width: 80%;
    height: 40px;
    color: rgba(29, 28, 28, 0.836);
}
.whiteText{
    color: white;
}
.redText{
    color: red;
}
hr{
    width: 35px;
    border-bottom: .5px solid rgba(0, 0, 0, 0.137);
}
